article {
  width: var(--width-article);
  position: relative;
  overflow: hidden;
  margin-bottom: var(--margin-bottom-section);
}

article img {
  height: 63%;
  width: 100%;
  object-fit: cover;
}

article .details {
  width: 90%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-transparent);
}

article h3 {
  margin: 0;
  font-family: var(--font-family-2);
  font-size: 24px;
}

article .tech-tags {
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
}

article .tech-tags li {
  padding: 3px 10px;
  background-color: var(--light-txt-secondary);
  margin: 0 2px;
  border-radius: 3px;
  color: var(--light-bg-primary);
}

article .description {
  height: calc(4em * 1.15);
  overflow: hidden;
}

article .url-button {
  color: var(--light-txt-secondary);
  border: 1px solid;
  padding: 3px 10px;
  border-radius: 3px;
}

.project {
  height: var(--height-project);
}

.project .details {
  height: 60%;
}

.achievement {
  height: var(--height-achievement);
}

.achievement .details {
  height: 65%;
}