.career {
  margin-bottom: var(--margin-bottom-section);
  z-index: 0;
}

.achievement {
  box-shadow: 0px 0px 10px 1px #ccc;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.details {
  width: 500px;
}

.title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.technologies,
.date,
.url {
  margin: 10px 0;
}

.description {
  font-size: 20px;
}

.achievement strong {
  font-family: 'Fjalla One', sans-serif;
}

.image-container {
  width: 500px;
}