.contact-me {
  background-color: var(--light-txt-secondary);
  color: var(--light-bg-primary);
  height: var(--height-contact-me);
}

.contact-me .container-contact-me {
  height: calc(var(--height-contact-me) - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-me h2 {
  color: var(--light-bg-primary);
  margin: 0;
  padding-top: var(--margin-bottom-section);
}

.contact-me .form-email {
  display: flex;
  align-items: center;
}

.contact-me .form-email textarea {
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  outline: none;
}

.contact-me .form-email button {
  color: var(--light-bg-primary);
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background: transparent;
  padding-left: 30px;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
  background-image: url("../img/envelope.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px center;
}

.contact-me .social {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.contact-me .social-link {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.contact-me .social-link.twitter {
  background-image: url("../img/twitter.svg");
}

.contact-me .social-link.facebook {
  background-image: url('../img/facebook.svg');
}

.contact-me .social-link.github {
  background-image: url('../img/github.svg');
}

.contact-me .social-link.instagram {
  background-image: url('../img/instagram.svg');
}