.footer {
  font-size: 12px;
  height: var(--height-footer);  
  color: var(--light-bg-primary);
  background-color: var(--light-txt-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.footer a {
  color: var(--light-bg-primary);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}