.hero {
  margin-top: calc(var(--height-header) + var(--margin-bottom-section));
  margin-bottom: var(--margin-bottom-section);
  height: var(--height-hero);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}

.hero .container {
  background-color: var(--light-bg-section);
  margin-bottom: var(--margin-bottom-section);
}

.hero h1 {
  font-family: var(--font-family-2);
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: var(--light-txt-primary);
  padding-left: 5%;
}

.hero figure {
  width: 10%;
  height: inherit;
  position: relative;
}

.hero img{
  width: 550%;
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}

.hero h1 span {
  font-family: var(--font-family-2);
  color: var(--light-txt-secondary);
}