:root {
  --color: #674EA7;
  --fjalla: 'Fjalla One', sans-serif;
  --open: 'Open Sans', sans-serif;
}

* {
  font-family: var(--open);
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding-top: 61px;
}

h2 {
  margin-top: .5rem;
}

hr {
  border-width: 3px;
}

span {
  font-family: inherit;
}

.bg-sec {
  background-color: var(--color);
}

.alt-font {
  font-family: var(--fjalla);
}

.text-sec {
  color: var(--color)
}

.uppercase {
  text-transform: uppercase;
}

.border-sec {
  border-color: var(--color);
}

.text-shadow {
  text-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.bg-orange {
background-color: orangered;
}

.bg-yellow {
  background-color: yellow;
}

#contact-me {
  min-height: calc(100vh - 56px);
}