:root {
  --color: #674EA7;
  --font: 'Fjalla One', sans-serif;
}

.bg-sec {
  background-color: var(--color);
}

.alt-font {
  font-family: var(--font);
}

.text-sec {
  color: var(--color)
}

.uppercase {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: calc(100vh - 61px);
  padding-top: 61px;
}