@import 'bootstrap/scss/bootstrap';

a.with-external-link-icon {
  background-image: url(/external-link-icon.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.857em;
  padding-right: 1em;
}

button.to-top {
  opacity: 0.5;
  transition: opacity 300ms;

  &:hover {
    opacity: 0.75;
  }
}
